<nav>
  <div class="navbar">
    <div>
      <div class="logo">
        <p style="color: red;">Premier</p>
        <p style="color: #fff;">League</p>
      </div>
    </div>
    <ul class="linki">
      <li><a href="/">Strona Główna</a></li>
      <li><a href="/highlist">Highlist</a></li>
      <li><a href="/sklep">sklep</a></li>
      <li><a href="/tabele">Tabele</a></li>
      <li><a href="/statystyki">Statystyki</a></li>
      <li><a href="/autors">Autorzy</a></li>
    </ul>
    <a href="/logowanie" class="loguj">Zaloguj się</a>
    <div class="button">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
  <div class="menu_rozwijane">
    <ul class="linki">
      <li><a href="/">Strona Główna</a></li>
      <li><a href="/highlist">Highlist</a></li>
      <li><a href="/sklep">sklep</a></li>
      <li><a href="/tabele">Tabele</a></li>
      <li><a href="/statystyki">Statystyki</a></li>
      <li><a href="/autors">Autorzy</a></li>
      <li><a href="/logowanie" class="loguj">Zaloguj się</a></li>
    </ul>
  </div>

</nav>
<div class="kluby">
  <marquee behavior="scroll" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    <a href="https://www.manutd.com/" target="_blank"><img src="images/kluby/t1.png" alt=""></a>
    <a href="https://www.leedsunited.com/" target="_blank"><img src="images/kluby/t2.png" alt=""></a>
    <a href=https://www.arsenal.com/" target="_blank"><img src="images/kluby/t3.png" alt=""></a>
    <a href="https://www.nufc.co.uk/" target="_blank"><img src="images/kluby/t4.png" alt=""></a>
    <a href="https://www.tottenhamhotspur.com/" target="_blank"><img src="images/kluby/t6.png" alt=""></a>
    <a href="https://www.avfc.co.uk/" target="_blank"><img src="images/kluby/t7.png" alt=""></a>
    <a href="https://www.chelseafc.com/en" target="_blank"><img src="images/kluby/t8.png" alt=""></a>
    <a href="https://www.evertonfc.com/" target="_blank"><img src="images/kluby/t11.png" alt=""></a>
    <a href="https://www.lcfc.com/?lang=EN" target="_blank"><img src="images/kluby/t13.png" alt=""></a>
    <a href="https://www.liverpoolfc.com/" target="_blank"><img src="images/kluby/t14.png" alt=""></a>
    <a href="https://www.nottinghamforest.co.uk/" target="_blank"><img src="images/kluby/t17.png" alt=""></a>
    <a href="https://www.southamptonfc.com/" target="_blank"><img src="images/kluby/t20.png" alt=""></a>
    <a href="https://www.whufc.com/" target="_blank"><img src="images/kluby/t21.png" alt=""></a>
    <a href="https://www.cpfc.co.uk/" target="_blank"><img src="images/kluby/t31.png" alt=""></a>
    <a href="https://www.brightonandhovealbion.com/" target="_blank"><img src="images/kluby/t36.png" alt=""></a>
    <a href="https://www.wolves.co.uk/" target="_blank"><img src="images/kluby/t39.png" alt=""></a>
    <a href="https://www.mancity.com/" target="_blank"><img src="images/kluby/t43.png" alt=""></a>
    <a href="https://www.fulhamfc.com/" target="_blank"><img src="images/kluby/t54.png" alt=""></a>
    <a href="https://www.afcb.co.uk/" target="_blank"><img src="images/kluby/t91.png" alt=""></a>
    <a href="https://www.brentfordfc.com/en" target="_blank"><img src="images/kluby/t94.png" alt=""></a>
  </marquee>
</div>