<!DOCTYPE html>
<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>premierlig</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

  <!--<header>
      <h2 class="kluby">Strony Klubów</h2>
      <ul>
        <li><img id="kluby" src="zdj/t1.png" alt=""></li>
      </ul>
    </header>-->
  <nav>
    <div class="navbar">
      <div>
        <div class="pelne_logo">
          <p>Premier League</p>
        </div>
        <div class="logo">
          <p>Premier League</p>
        </div>
      </div>
      <ul class="linki">
        <li><a href="/">Strona Główna</a></li>
        <li><a href="/naj_rozgrywki">Najbliższe Rozgrywki</a></li>
        <li><a href="/zaklady">Zakłady</a></li>
        <li><a href="/tabele">Tabele</a></li>
        <li><a href="/statystyki">Statystyki</a></li>
        <li><a href="/ranking">Ranking Zawodników</a></li>
      </ul>
      <a href="/logowanie" class="loguj">Zaloguj się</a>
      <div class="button">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="menu_rozwijane">
      <ul class="linki">
        <li><a href="/">Strona Główna</a></li>
        <li><a href="/naj_rozgrywki">Najbliższe Rozgrywki</a></li>
        <li><a href="/zaklady">Zakłady</a></li>
        <li><a href="/tabele">Tabele</a></li>
        <li><a href="/statystyki">Statystyki</a></li>
        <li><a href="/ranking">Ranking Zawodników</a></li>
        <li><a href="/logowanie" class="loguj">Zaloguj się</a></li>
      </ul>
    </div>
  </nav>
  <div class="tresc">
    <marquee behavior="alternate" bgcolor="#4B0082" direction="left" onmouseover="this.stop()"
      onmouseout="this.start()">
      <a href="https://www.manutd.com/" target="_blank"><img src="images/kluby/t1.png" alt=""></a>
      <a href="https://www.leedsunited.com/" target="_blank"><img src="images/kluby/t2.png" alt=""></a>
      <a href=https://www.arsenal.com/" target="_blank"><img src="images/kluby/t3.png" alt=""></a>
      <a href="https://www.nufc.co.uk/" target="_blank"><img src="images/kluby/t4.png" alt=""></a>
      <a href="https://www.tottenhamhotspur.com/" target="_blank"><img src="images/kluby/t6.png" alt=""></a>
      <a href="https://www.avfc.co.uk/" target="_blank"><img src="images/kluby/t7.png" alt=""></a>
      <a href="https://www.chelseafc.com/en" target="_blank"><img src="images/kluby/t8.png" alt=""></a>
      <a href="https://www.evertonfc.com/" target="_blank"><img src="images/kluby/t11.png" alt=""></a>
      <a href="https://www.lcfc.com/?lang=EN" target="_blank"><img src="images/kluby/t13.png" alt=""></a>
      <a href="https://www.liverpoolfc.com/" target="_blank"><img src="images/kluby/t14.png" alt=""></a>
      <a href="https://www.nottinghamforest.co.uk/" target="_blank"><img src="images/kluby/t17.png" alt=""></a>
      <a href="https://www.southamptonfc.com/" target="_blank"><img src="images/kluby/t20.png" alt=""></a>
      <a href="https://www.whufc.com/" target="_blank"><img src="images/kluby/t21.png" alt=""></a>
      <a href="https://www.cpfc.co.uk/" target="_blank"><img src="images/kluby/t31.png" alt=""></a>
      <a href="https://www.brightonandhovealbion.com/" target="_blank"><img src="images/kluby/t36.png" alt=""></a>
      <a href="https://www.wolves.co.uk/" target="_blank"><img src="images/kluby/t39.png" alt=""></a>
      <a href="https://www.mancity.com/" target="_blank"><img src="images/kluby/t43.png" alt=""></a>
      <a href="https://www.fulhamfc.com/" target="_blank"><img src="images/kluby/t54.png" alt=""></a>
      <a href="https://www.afcb.co.uk/" target="_blank"><img src="images/kluby/t91.png" alt=""></a>
      <a href="https://www.brentfordfc.com/en" target="_blank"><img src="images/kluby/t94.png" alt=""></a>
    </marquee>
  </div>
  <div class="zawartosc">

  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><a href="#">watch</a></li>
            <li><a href="#">bag</a></li>
            <li><a href="#">shoes</a></li>
            <li><a href="#">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script>
    const button = document.querySelector('.button')
    const buttonIcon = document.querySelector('.button i')
    const menu_rozwijane = document.querySelector('.menu_rozwijane')

    button.onclick = function () {
      menu_rozwijane.classList.toggle('open')
      const isOpen = menu_rozwijane.classList.contains('open')

      buttonIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
  </script>
</body>

</html>