<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<nav>
    <img id="pilka" src="Sports-Ball-2683945342.png" alt="">
    <ul>
        <li><a href="/">Strona Główna</a></li>
        <li><a href="/naj_rozgrywki">Najblirzsze Rozgrywki</a></li>
        <li><a href="/zaklady">Zakłady</a></li>
        <li><a href="/tabele">Tabele</a></li>
        <li><a href="/statystyki">Statystyki</a></li>
        <li><a href="/ranking">Ranking Zawodników</a></li>
        <li><a href="/sponsorzy">Sponsorzy</a></li>
        <li><a href="/autorzy">Autorzy</a></li>


    </ul>
    <div class="menu">
        <a href="/rejestracja" class="register">Resjestracja</a>
        <a href="/zaloguj" class="register">zaloguj sie</a>
    </div>
</nav>

</html>