<!DOCTYPE html>
<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>premierlig</title>
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/sklep.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <%- include ('partials/baner.ejs') %>
    <div class="trescsklepu">
      <header>
        <div class="nav">
          <a href="#" class="logo">Shop</a>
          <!--card icon-->
          <i class='bx bx-shopping-bag' id="cart-icon"></i>
          <!-- Card -->
          <div class="cart">
            <h2 class="cart-title">
              twoj koszyk
            </h2>
            <!--content-->
            <div class="cart-content">
              <div class="cart-box">

              </div>
              <!-- Total -->
              <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">$60</div>
              </div>
              <!-- Buy Button -->
              <button type="button" class="btn-buy">Buy Now</button>
              <!-- Cart Close -->
              <i class='bx bx-x' id="close-cart"></i>
            </div>
          </div>
      </header>
      <div id="section" class="shop container">
        <h2 class="section-title">Shop Products</h2>
        <!--content-->
        <div class="shop-content">
          <!--box 1-->
          <div class="products-box">
            <img src="images/sklep/rzecz1.jpg" alt="" class="product-img">
            <h2 class="product-title">CHELSEA SHIRT</h2>
            <span class="price">$60</span>
            <i class='bx bx-shopping-bag add-cart'></i>
          </div>
          <!--box 2-->
          <div class="products-box">
            <img src="images/sklep/rzecz2.jpg" alt="" class="product-img">
            <h2 class="product-title">MAN UND SHIRT</h2>
            <span class="price">$60</span>
            <i class='bx bx-shopping-bag add-cart'></i>
          </div>
          <!--box 3-->
          <div class="products-box">
            <img src="images/sklep/rzecz3.jpg" alt="" class="product-img">
            <h2 class="product-title">MAN CITY SHIRT</h2>
            <span class="price">$60</span>
            <i class='bx bx-shopping-bag add-cart'></i>
          </div>

        </div>
      </div>

    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>online shop</h4>
            <ul>
              <li><a href="#">watch</a></li>
              <li><a href="#">bag</a></li>
              <li><a href="#">shoes</a></li>
              <li><a href="#">dress</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script>
      const button = document.querySelector('.button')
      const buttonIcon = document.querySelector('.button i')
      const menu_rozwijane = document.querySelector('.menu_rozwijane')

      button.onclick = function () {
        menu_rozwijane.classList.toggle('open')
        const isOpen = menu_rozwijane.classList.contains('open')

        buttonIcon.classList = isOpen
          ? 'fa-solid fa-xmark'
          : 'fa-solid fa-bars'
      }
      //card
      let cartIcon = document.querySelector('#cart-icon')
      let cart = document.querySelector('.cart')
      let closecart = document.querySelector('#close-cart')

      cartIcon.onclick = () => {
        cart.classList.add("active");
      };
      closecart.onclick = () => {
        cart.classList.remove("active");
      };

      //card working
      if (document.readyState = "loading") {
        document.addEventListener("DOMContentLoaded", ready);
      }
      else {
        ready()
      }
      //making function

      function ready() {
        //remove iteam from card
        var removeCardButton = document.getElementsByClassName('card-remove');
        console.log(removeCardButton)
        for (var i = 0; i < removeCardButton.length; i++) {
          var button = removeCardButton[i];
          button.addEventListener("click", removeCardItem);
        }
        // Quanity changes
        var quanityInputs = document.getElementsByClassName('cart-quanity')
        for (var i = 0; i < quanityInputs.length; i++) {
          var input = quanityInputs[i];
          input.addEventListener("change", quanityChanged);
        }
        //Add to cart
        var addCart = document.getElementsByClassName('add-cart')
        for (var i = 0; i < addCart.length; i++) {
          var button = addCart[i];
          button.addEventListener("click", addCartClicked)
        }
      }
      //remove iteam from card
      function removeCardItem(event) {
        var buttonClicked = event.target;
        buttonClicked.parentElement.remove();
        updatetotal();
      }
      //quanity changes
      function quanityChanged(event) {
        var input = event.target;
        if (isNaN(input.value) || input.value <= 0) {
          input.value = 1;
        }
        updatetotal();
      }
      //add to cart
      function addCartClicked(event) {
        var button = event.target;
        var shopProducts = button.parentElement;
        var title = shopProducts.getElementsByClassName('product-title')[0].innerText;
        var price = shopProducts.getElementsByClassName('price')[0].innerText;
        var productsImg = shopProducts.getElementsByClassName('product-img')[0].src;
        addProductToCart(title, price, productsImg);
        updatetotal();
      }
      function addProductToCart(title, price, productsImg) {
        var cartShopBox = document.createElement("div");
        cartShopBox.classList.add("cart-box")
        var cartItems = document.getElementsByClassName("cart-content")[0];
        var cartItemsNames = cartItems.getElementsByClassName('cart-product-title');
        for (var i = 0; i < cartItemsNames.length; i++) {
          alert("you have already add this item to cart");

        }

      }
      var cartBoxContent = `                
                <img src="images/sklep/rzecz1.jpg" alt="" class="cart-img">
                <div class="detail-box">
                  <div class="cart-product-title">CHELSEA SHIRT</div>
                  <div class="cart-price">$60</div>
                  <input type="number" value="1" class="cart-quanity">
                </div>
                <!--Remove Card-->
      <i class='bx bxs-trash-alt card-remove'></i>`;
      cartShopBox.innerHTML = cartBoxContent;
      cartItems.append(cartBoxContent)
      cartShopBox.
        getElementsByClassName('card-remove')[0].
        addEventListener('click', removeCardItem);
      cartShopBox.
        getElementsByClassName('cart-quanity')[0].
        addEventListener('change', quanityChanged);

      //update total

      function updatetotal() {
        var cartContent = document.getElementsByClassName('cart-content')[0];
        var cartBoxes = cartContent.getElementsByClassName('cart-box');
        var total = 0;
        for (var i = 0; i < cartBoxes.length; i++) {
          var cartBox = cartBoxes[i]
          var priceElement = cartBox.getElementsByClassName('cart-price')[0];
          var quanityElement = cartBox.getElementsByClassName('cart-quanity')[0];
          var price = parseFloat(priceElement.innerText.replace("$", ""));
          console.log(priceElement)
          var quanity = quanityElement.value;
          total = total + (price * quanity);
          //if price Contain some cents Vaulue

          total = Math.round(total * 100) / 100;

          document.getElementsByClassName('total-price')[0].innerText = '$' + total;
        }
      }
    </script>
</body>


</html>