<!DOCTYPE html>
<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>premierlig</title>
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/cube2.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

  <%- include ('partials/baner.ejs') %>
    <div class="napis">
      <h2>
        Przerwa w dostawie...
      </h2>
    </div>
    <div class="zawartosc">
      <div class="cube">
        <div class="top"></div>
        <div>
          <span style="--i:0;"></span>
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
      </div>
    </div>
    <%- include ('partials/footer.ejs') %>
      <script>
        const button = document.querySelector('.button')
        const buttonIcon = document.querySelector('.button i')
        const menu_rozwijane = document.querySelector('.menu_rozwijane')

        button.onclick = function () {
          menu_rozwijane.classList.toggle('open')
          const isOpen = menu_rozwijane.classList.contains('open')

          buttonIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
      </script>
</body>

</html>