<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>premierlig</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/logowanie.css" >
</head>

<body>

    <%- include ('partials/baner.ejs') %>
    <div class="logowanie">
        <form>
            <h2>
                Login
            </h2>
            <div class="user">
                <input type="text" name="" required="">
                <label>Username</label>
            </div>
            <div class="user">
                <input type="text" name="" required="">
                <label>Password</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Zaloguj Się
            </a>
            <a class="zarejestruj" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                zarejestruj Się
            </a>
        </form>
    </div>

    <script>
        const button = document.querySelector('.button')
        const buttonIcon = document.querySelector('.button i')
        const menu_rozwijane = document.querySelector('.menu_rozwijane')

        button.onclick = function () {
            menu_rozwijane.classList.toggle('open')
            const isOpen = menu_rozwijane.classList.contains('open')

            buttonIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        }
    </script>
</body>

</html>