* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fff;
  font-size: 28px;
  background-image: url("../images/premierlaegue.jpg");
  background-size: cover;
  background-position: center;
}

/*menu poziome*/
nav {
  position: relative;
  padding: 0 2rem;
  background-color: #4B0082;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: red;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .linki {
  display: flex;
  gap: 2rem;
}

.navbar .button {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.loguj {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.loguj:hover {
  scale: 1.05;
  color: #fff;
}

.loguj:active {
  scale: 0.95;
}

.logo {
  display: flex;
}

/*menu rozwijane*/
.menu_rozwijane {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
}

.menu_rozwijane.open {
  height: 335px;
}

.menu_rozwijane li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_rozwijane .loguj {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*przesuwanie klubow*/
.kluby {
  background-color: #4B0082;
  z-index: 1;
}

.pelnazawartosc {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.zawartosc {}

.zawartosc h2 {
  letter-spacing: 1px;
  font-size: 50px;
  color: #6968aa;
  padding: 10px;
  border: 2px dashed #0181a0;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 90px;
  margin-left: 375px;

}

.blog-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
  margin: 10px;

}

.blog-post_img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translate(-8rem);
  position: relative;
}

.blog-post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blog-post_img img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
}

.blog-post_date {
  display: block;
  color: #00000080;
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
}

.blog-post_title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post_text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: #000000b3;
}

.blog-post_cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffff;
  border-radius: .8rem;
  text-decoration: none;
  background: linear-gradient(to right, #c945cf 0%, #04a6db 100%);
}

.blog-post_cta:hover {
  background: linear-gradient(to right, #04a6db 0%, #c945cf 100%);

}

@media screen and (max-width:100%) {
  .blog-post {
    max-width: 80rem;
  }

  .blog-post_img {
    max-width: 30rem;
    min-width: 30rem;
  }

  .zawartosc h2 {
    margin-top: 120px;
    margin-left: 275px;
  }
}

@media screen and (max-width:868px) {
  .blog-post {
    max-width: 70rem;
  }

  .zawartosc h2 {
    margin-top: 20px;
    margin-left: 142px;
  }
}

@media screen and (max-width:768px) {
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post_img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, .1rem);
  }

  .zawartosc h2 {
    margin-top: auto;
  }
}

@media screen and (max-width:823px) {


  .zawartosc h2 {
    margin-top: 35px;
    margin-left: 142px;
  }
}

img {
  vertical-align: middle;
  image-rendering: optimizeSpeed;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/*responsywnosc*/
@media(max-width: 1060px) {

  .navbar .linki,
  .navbar .loguj {
    display: none;
  }

  .navbar .button {
    display: block;
  }

  .menu_rozwijane {
    display: block;
  }

  .logo {
    display: flex;
  }


}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .logo {
    display: flex;
    font-weight: bold;
  }

  .footer-col {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .menu_rozwijane {
    left: 2rem;
    width: unset;
  }

  .logo {
    display: flex;
    font-weight: bold;
  }
}