* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fff;
  font-size: 28px;
  background-image: url("../images/premierlaegue.jpg");
  background-size: cover;
  background-position: center;
}

/*menu poziome*/
nav {
  position: relative;
  padding: 0 2rem;
  background-color: #4B0082;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: red;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .linki {
  display: flex;
  gap: 2rem;
}

.navbar .button {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.loguj {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.loguj:hover {
  scale: 1.05;
  color: #fff;
}

.loguj:active {
  scale: 0.95;
}

#pilka {
  width: 10rem;
}

.logo {
  display: flex;
}

/*menu rozwijane*/
.menu_rozwijane {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu_rozwijane.open {
  height: 320px;
}

.menu_rozwijane li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_rozwijane .loguj {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*stopka*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*przesuwanie klubow*/
marquee {
  padding-bottom: 5px;
}

/*zawartosc*/
.zawartosc {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.artykuly{
  width: 1200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
}

.artykul{
  
}

.tytul_artykulu{
  text-align: center;
}

/*responsywnosc*/
@media(max-width: 1060px) {

  .navbar .linki,
  .navbar .loguj {
    display: none;
  }

  .navbar .button {
    display: block;
  }

  .menu_rozwijane {
    display: block;
  }

  .logo {
    display: flex;
  }


}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .logo {
    display: flex;
    font-weight: bold;
  }

  .footer-col {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .menu_rozwijane {
    left: 2rem;
    width: unset;
  }

  .logo {
    display: flex;
    font-weight: bold;
  }
}